body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #5683ff;
    padding: 0;
}

#meniu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

#meniu .logo {
    color: white;
    font-size: 24px;
    margin: 0;
}

#meniu nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

#meniu nav a:hover {
    text-decoration: underline;
}

#continut {
    padding: 5px;
}

.tara {
    margin-bottom: 30px;
}

.tara p {
    max-width: 700px;
}

.steag {
    border-collapse: collapse;
    margin: 15px;
}

.steag td {
    width: 30px;
    height: 20px;
    padding: 0;
}

.moldova-albastru { 
    background-color: #003DA5; 
}

.moldova-galben {
    background-color: #FFD200;
    vertical-align: middle;
}

.moldova-galben img {
    height: 30px;
    display: block;
    margin: 0 auto;
}

.moldova-rosu { 
    background-color: #CE1126; 
}

.steag-norvegia {
    border-collapse: collapse;
    margin: 15px;
}

.steag-norvegia td {
    width: 30px;
    height: 20px;
    padding: 0;
}

.norvegia-rosu     { 
    background-color: #BA0C2F; 
}

.norvegia-alb      { 
    background-color: #ffffff; 
}

.norvegia-albastru { 
    background-color: #00205B; 
}

.steag-suedia {
    border-collapse: collapse;
    margin: 15px;
}

.steag-suedia td {
    width: 30px;
    height: 20px;
    padding: 0;
}

.suedia-albastru { 
    background-color: #005293; 
}
.suedia-galben { 
    background-color: #FECC02; 
}